body {
  margin: 0;
  padding: 0;
  background-color: #2E8B57;
  color: #fff;

}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo {
  display: flex;
  justify-content: center;
  width: 50%;
}

.container-promo {
  display: flex;
  flex-direction: column;
  border: 1px solid #006400;
  width: 25%;
  margin-left: 25px;
  padding-left: 10px;
  border-radius: 10px;
  background-color: #006400;
  box-shadow: 10px 5px 5px black;
}
