.container-home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-filme {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

}

.campos-movies {
    display: flex;
    align-items: center;
}

.img {
    width: 25%;
}

button {
    width: 50%;
    margin: 1rem auto;
}